.icon-container{
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
}

.icon-container:hover{
   background-color: #1e1e1e; 
}

::-webkit-scrollbar{
    width: 7px;
}


::-webkit-scrollbar-thumb{
    background-color: #888;
}
::-webkit-scrollbar-thumb{
    background-color: #555;
}

/* UserPage.css */

.chakra-tabs__tablist {
    border-bottom: 2px solid;
    border-color: var(--chakra-colors-gray-300); /* Light mode */
  }
  
  .dark .chakra-tabs__tablist {
    border-color: var(--chakra-colors-gray-700); /* Dark mode */
  }
  
  .chakra-tabs__tab {
    border-bottom: 3px solid transparent;
  }
  
  .chakra-tabs__tab[aria-selected="true"] {
    border-bottom: 3px solid var(--chakra-colors-blue-500); /* Light mode */
    font-weight: bold;
  }
  
  .dark .chakra-tabs__tab[aria-selected="true"] {
    border-bottom: 3px solid var(--chakra-colors-blue-300); /* Dark mode */
  }
  
  @media screen and (max-width: 768px) {
    .fc-toolbar-title {
      font-size: 0.7rem; /* Font size for mobile */
    }
  }
  
  .fc-toolbar-title {
    font-size: 1.5rem; /* Change the font size of the title */
    font-weight: bold;
  }

  .fc-daygrid-day {
    width: auto !important; /* Make each day cell auto-expand */
    text-align: center; /* Optional: Center-align the text */
  }
  
  .fc .fc-daygrid {
    table-layout: fixed; /* Ensure the grid layout is responsive */
  }
  
  .fc-daygrid-day-number {
    font-size: 14px; /* Adjust font size for better scaling */
  }
  
 
  